/* Workspace pager */

%overview_panel {
  color: $inverse_fg_color;
  background-color: $inverse_bg_color;
  border: none;

  @if $theme == 'dracula' and $variant == 'dark' {
    background-color: transparent;
    border: 1px solid rgba(248, 248, 242, 0.10);
    box-shadow: none;
  }
}

// thumbnails in overview
.workspace-thumbnails {
  visible-width: 32px; //amount visible before hover
  spacing: $container_padding;
  padding: $container_padding;

  .workspace-thumbnail {
    @extend %overview_panel;
    border-radius: 0;
  }

  // drag and drop indicator
  .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    width: 18px;
  }
}

// selected indicator
.workspace-thumbnail-indicator {
  border: 3px solid $primary_color;
  border-radius: 0;
  padding: 0px;
  // background-color: transparentize($selected_bg_color, 0.9);

  @if $theme == 'dracula' and $variant == 'dark' {
    border: none;
    box-shadow: inset 0 0 0 1px #BD93F9;
  }
}
